In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from ipywidgets import interact
import pandas as pd

In [3]:
data=pd.read_csv('Agriculture.csv')
data.head(961)

      N   P   K  temperature   humidity        ph    rainfall        label
0    90  42  43    20.879744  82.002744  6.502985  202.935536         rice
1    85  58  41    21.770462  80.319644  7.038096  226.655537         rice
2    60  55  44    23.004459  82.320763  7.840207  263.964248         rice
3    74  35  40    26.491096  80.158363  6.980401  242.864034         rice
4    78  42  42    20.130175  81.604873  7.628473  262.717340         rice
..   ..  ..  ..          ...        ...       ...         ...          ...
956   7  23  35    19.750885  88.716912  7.054314  102.553804  pomegranate
957  12  20  39    19.861736  86.197409  6.026999  111.021793  pomegranate
958   4  19  43    18.071330  93.145549  5.779427  106.360202  pomegranate
959   3   9  45    23.891626  89.618502  6.535244  104.617522  pomegranate
960   1  27  36    23.985988  93.342366  5.684995  104.991282  pomegranate

[961 rows x 8 columns]

In [4]:
data.shape

(2200, 8)

In [5]:
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
data['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [7]:
@interact
def summary(crops = list(data['label'].value_counts().index)):
    x = data[data['label'] == crops]
    print("---------------------------------------------")
    print("Statistics for nitrogen")
    print("Minimum amount of nitrogen required :", x['N'].min())
    print("average amount of nitrogen required :", x['N'].mean())
    print("Maximum amount of nitrogen required :", x['N'].max())
    
    print("----------------------------------------------")
    print("Statistics for Phosphorus")
    print("Minimum amount of phosphorus required :", x['P'].min())
    print("average amount of phosphorus required :", x['P'].mean())
    print("Maximum amount of phosphorus required :", x['P'].max())
    
    print("----------------------------------------------")
    print("Statistics for Potassium")
    print("Minimum amount of Potassium required :", x['K'].min())
    print("average amount of Potassium required :", x['K'].mean())
    print("Maximum amount of Potassium required :", x['K'].max())

    print("----------------------------------------------")
    print("Statistics for Temperature")
    print("Minimum amount of Temperature required :{0:.2f}".format(x['temperature'].min()))
    print("average amount of Temperature required :{0:.2f}".format(x['temperature'].mean()))
    print("Maximum amount of Temperature required :{0:.2f}".format(x['temperature'].max()))

    print("----------------------------------------------")
    print("Statistics for Humidity")
    print("Minimum Humidity required :{0:.2f}".format(x['humidity'].min()))
    print("average Humidity required :{0:.2f}".format(x['humidity'].mean()))
    print("Maximum Humidity required :{0:.2f}".format(x['humidity'].max()))    
    
    print("----------------------------------------------")
    print("Statistics for ph")
    print("Minimum PH required :{0:.2f}".format(x['ph'].min()))
    print("average PH Temperature required :{0:.2f}".format(x['ph'].mean()))
    print("Maximum PH Temperature required :{0:.2f}".format(x['ph'].max()))
    
    print("----------------------------------------------")
    print("Statistics for rainfall")
    print("Minimum rainfall required :{0:.2f}".format(x['rainfall'].min()))
    print("average rainfall Temperature required :{0:.2f}".format(x['rainfall'].mean()))
    print("Maximum rainfall Temperature required :{0:.2f}".format(x['rainfall'].max()))

interactive(children=(Dropdown(description='crops', options=('rice', 'maize', 'jute', 'cotton', 'coconut', 'pa…

In [8]:
print("summar crops")
print(data[(data['temperature']>30) & (data['humidity']>50)]['label'].unique())
print('-----------------------------------')
print("winter crops")
print(data[(data['temperature']<20) & (data['humidity']>30)]['label'].unique())
print('-----------------------------------')
print("rainy crops")
print(data[(data['rainfall']>200) & (data['humidity']>30)]['label'].unique())

summar crops
['pigeonpeas' 'mothbeans' 'blackgram' 'mango' 'grapes' 'orange' 'papaya']
-----------------------------------
winter crops
['maize' 'pigeonpeas' 'lentil' 'pomegranate' 'grapes' 'orange']
-----------------------------------
rainy crops
['rice' 'papaya' 'coconut']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X= data.iloc[:,:-1]

In [11]:
y=data.iloc[:,-1:]

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=20)

In [13]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()

In [14]:
rfc.fit(X_train,y_train)
y_pred=rfc.predict(X_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [15]:
from sklearn.metrics import accuracy_score,classification_report,precision_score,confusion_matrix

In [16]:
print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))

print(confusion_matrix(y_test,y_pred))

0.9889807162534435
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        31
      banana       1.00      1.00      1.00        30
   blackgram       1.00      0.97      0.99        37
    chickpea       1.00      1.00      1.00        37
     coconut       1.00      1.00      1.00        35
      coffee       1.00      1.00      1.00        39
      cotton       1.00      1.00      1.00        37
      grapes       1.00      1.00      1.00        23
        jute       0.83      1.00      0.91        35
 kidneybeans       1.00      1.00      1.00        29
      lentil       1.00      1.00      1.00        34
       maize       0.97      1.00      0.98        28
       mango       1.00      1.00      1.00        31
   mothbeans       1.00      1.00      1.00        37
    mungbean       1.00      1.00      1.00        39
   muskmelon       1.00      1.00      1.00        26
      orange       1.00      1.00      1.00        38
      papaya       1.00      1.00      1.00        24
  pigeonpeas       1.00      1.00      1.00        40
 pomegranate       1.00      1.00      1.00        28
        rice       1.00      0.79      0.89        34
  watermelon       1.00      1.00      1.00        34

    accuracy                           0.99       726
   macro avg       0.99      0.99      0.99       726
weighted avg       0.99      0.99      0.99       726

[[31  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 30  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 36  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 37  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0 35  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0 39  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 37  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0 23  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0 35  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0 29  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0 34  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0 28  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0 31  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 37  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 39  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 26  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 38  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 24  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 40  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 28  0  0]
 [ 0  0  0  0  0  0  0  0  7  0  0  0  0  0  0  0  0  0  0  0 27  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 34]]

In [17]:
X_test.iloc[0]

N               40.000000
P                5.000000
K               29.000000
temperature     28.484449
humidity        97.768655
ph               5.820979
rainfall       160.389421
Name: 1841, dtype: float64

In [18]:
y_test.iloc[0]

label    coconut
Name: 1841, dtype: object

In [19]:
v=[40,5,23,28,97,6,160]

In [20]:
new_data = {
    'N': 41.000000,
    'P': 5.000000,
    'K': 29.000000,
    'temperature': 28.484449,
    'humidity': 97.768655,
    'ph': 5.820979,
    'rainfall': 1.389421
}

# Use the RandomForestClassifier object to make predictions
prediction = rfc.predict([list(new_data.values())])[0]

# Print the prediction
print("Best crop for given condition:", prediction)

Best crop for given condition: muskmelon

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(